*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

body {
    padding: 2vh;
    margin: 0;
    background: linear-gradient(to right, #cbbefa, #ba7df3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#message-container {
    border-radius: 10px;
    border: 4px #280431;
    border-style: solid;
    background-color: #FFF;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50vh;
    height: 95vh;
    overflow-y: scroll;
}

#message-container div {
    background-color: #ccc;
    padding: 5px;
}

#message-container div:nth-child(2n) {
    background-color: #FFF;
}

#send-container {
    display: flex;
    height: 10vh;
    width: 40vh;
    justify-content: center;
    align-items: flex-end;
}

#send-button {
    margin: 5px;
    background-color: #9377fc;
    border-radius: 10px;
    border: 2px  #7a7a7a;
    border-style: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 1s;
}


#send-button:hover{
  background-color: #5c5e5d;
}

#send-button:focus,
.send-button:active {
  background-color: black;
  transition: none;
}

#message-input {
    margin: 5px;
    background-color: #9477fc11;
    border-radius: 10px;
    border: 2px #7a7a7a;
    border-style: solid;
    width: 40vh;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}